#content {
  margin-top: 50px;
}

#item-list {
}

.item-node {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  height: 230px;
}

.item-node h3 {
  font-size: 1em;
}

#apply {
  width: 120px;
  margin-left: 30px;
  margin-right: 30px;
}
