header {
  color: inherit;
  background: rgb(94, 172, 254);
  background: linear-gradient(rgb(167, 218, 255),rgb(22, 139, 214));
  border-style: solid;
  border-width: 1px;
  padding: 10px;
}

body {
  margin: 0px;
  max-height: 768px;
}

footer {
  height: 50px;
  color: inherit;
  background: rgb(94, 172, 254);
  background: linear-gradient(to top, rgb(167, 218, 255),rgb(22, 139, 214));
  border-style: solid;
  border-width: 1px;
}

main {
  margin-left: 150px;
  margin-right: 150px;
  padding: 10px;
  border-left: 1px solid rgb(150,150,150);
  border-right: 1px solid rgb(150,150,150);
}

#nav {
  float: left;
  width: 150px;
  height: 300px;
}

#pers {
  float: right;
  width: 150px;
  height: 300px;
}

#logo {
  color: white;
  background-color: inherit;
}

.route-box {
  border-style: solid;
  border-width: 1px;
  width: 300px;
  height: 200px;
  padding: 10px;
  border-radius: 25px;
  margin: 1em;
  display: inline-block;
  vertical-align: top;
}

a .route-box {
  color: black;
}

.route-title {
  text-align: center;
}

#learn-box {
  background:rgb(252, 246, 157);
  background: linear-gradient(to bottom right, rgb(255, 255, 231), rgb(255, 214, 68));
  border-color: rgb(208, 177, 64);
}

#guided-box {
  background:rgb(226, 162, 78);
  background: linear-gradient(to bottom right, rgb(255, 230, 198),rgb(226, 119, 51));
  border-color: rgb(199, 136, 52);
}

#freestyle-box {
  background:rgb(223, 120, 120);
  background: linear-gradient(to bottom right, rgb(236, 205, 205),rgb(207, 53, 43));
  border-color: rgb(198, 50, 50)
}
