header {
  background: rgb(94, 172, 254);
  background: linear-gradient(to right, rgb(167, 218, 255),rgb(22, 139, 214));
  border-style: solid;
  border-width: 1px
}

footer {
  height= 50px;
  background: rgb(94, 172, 254);
  background: linear-gradient(to right, rgb(167, 218, 255),rgb(22, 139, 214));
  border-style: solid;
  border-width: 1px
}

#logo {
  color: white;
}

.route-box {
  border-style: solid;
  border-width: 1px
}

#learn-box {
  background:rgb(252, 246, 157);
  background: linear-gradient(to bottom right, rgb(255, 255, 231), rgb(255, 214, 68));
}

#guided-box {
  background:rgb(226, 162, 78);
  background: linear-gradient(to bottom right, rgb(255, 230, 198),rgb(226, 119, 51));
}

#freestyle-box {
  background:rgb(223, 120, 120);
  background: linear-gradient(to bottom right, rgb(236, 205, 205),rgb(207, 53, 43))
}
